*, *::before, *::after {
    box-sizing: border-box;
}

// 防止橫向滾動
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    color: $font-color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: 500;
    line-height: $font-line-height;
    background-color: #ffffff;
}

img {
	max-width: 100%;
	height: auto;
    vertical-align: middle;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

hr {
    line-height: 1px;
    background-color: gray;
}

.h2 {
    font-size: 64px;
    font-weight: 700;
}

.h3 {
    font-size: 28px;
    font-weight: 700;
}

.title-lg {
    color: $color-blue;
    font-size: 28px;
    font-weight: bold;
    line-height: $font-line-height;
}
.title-lg-black {
    color: $font-color-base;
    font-size: 28px;
    font-weight: bold;
    line-height: $font-line-height;
}
.title-xl {
    color: $font-color-base;
    font-size: 64px;
    font-weight: bold;
    line-height: $font-line-height;
}
.title-xxl {
    color: $color-blue;
    font-size: 120px;
    font-weight: bold;
    line-height: $font-line-height;
}