*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: $font-color-base;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $font-line-height;

}

img {
	max-width: 100%;
	height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
}

.title-lg {
    color: $color-blue;
    font-size: 28px;
    font-weight: bold;
    line-height: $font-line-height;
}
.title-xl {
    color: $font-color-base;
    font-size: 64px;
    font-weight: bold;
    line-height: $font-line-height;
}
.title-xxl {
    color: $color-blue;
    font-size: 120px;
    font-weight: bold;
    line-height: $font-line-height;
}
