@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  color: #000000;
  font-family: "Noto Sans TC", "Helvetica,Arial,sans-serif";
  font-size: 16px;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.title-lg {
  color: #0027D5;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

.title-lg-black {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

.title-xl {
  color: #000000;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
}

.title-xxl {
  color: #0027D5;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.5;
}

.wrapper, .main-section, .success-section {
  max-width: 1920px;
  margin: 0 auto;
}

.success-section {
  background-color: #FBFBFB;
}

@media screen and (max-width: 375px) {
  .main-section {
    display: flex;
    flex-direction: column-reverse;
  }
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 90px;
  padding: 24px 80px;
}

.about-section {
  width: 100%;
  height: 834px;
  display: flex;
  gap: -160px;
  background-color: #ffffff;
}
.about-section .l-block {
  width: 50%;
  padding: 300px 80px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .r-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  width: 50%;
  padding: 300px 80px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.float-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 0 80px;
  margin-top: -160px;
}

.float-list {
  color: #000000;
  background: #fff;
  max-width: 1077px;
  height: 362px;
  padding: 80px 40px;
}
.float-list .float-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
.float-list .float-top-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.float-list .title-item {
  color: #000000;
  font-size: 28px;
  font-weight: 500;
}

.main-wrapper {
  max-width: 1432px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.srv-section {
  width: 100%;
}
.srv-section .srv-wrapper {
  max-width: 1296px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.success-wrapper {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.success-wrapper .all-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.success-wrapper .all-block .top-block {
  display: flex;
}
.success-wrapper .all-block .top-block .left-block {
  width: 745px;
  height: 626px;
  padding: 24px;
  background-color: #EDEDED;
}
.success-wrapper .all-block .top-block .float-top {
  width: 526px;
  height: 296px;
  background-color: #fff;
  margin-left: -195px;
  margin-top: 24px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer {
  width: 100%;
  height: 72px;
  padding: 80px 0;
}

.header-link {
  display: inline-block;
  color: #000000;
  font-size: 28px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
}

.b-icon {
  display: flex;
}
.b-icon .icon-item {
  width: 44px;
  height: 44px;
}

.pj-block, .pj-block-reverse {
  width: 100%;
  display: flex;
  padding: 0 110px;
}
.pj-block .img-block, .pj-block-reverse .img-block {
  max-width: 636px;
}
.pj-block .content-block, .pj-block-reverse .content-block {
  width: 480px;
  height: 210px;
  background-color: #fff;
  margin-left: -40px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0;
}

.pj-block-reverse {
  flex-direction: row-reverse;
}

.short-line {
  width: 40px;
  height: 40px;
  padding: 18.75px 5px;
}

.line-item {
  width: 30px;
  height: 2.5px;
  background: #0027D5;
}

.ct-desc {
  font-size: 16px;
  font-weight: 500;
}

.pj-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.pj-footer .pj-footer-cycle {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 40px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.footer-text {
  text-align: center;
  padding: 24px 0;
}

.swiper {
  width: 90%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.swiper-header {
  max-width: 1296px;
  margin: 0 auto;
}

.swiper-wrapper-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  font-size: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #0027D5;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #0027D5;
}

.swiper-button-next i,
.swiper-button-prev i {
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .swiper-wrapper-area {
    display: block;
    height: 520px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 100%;
  }
  .swiper-button-prev {
    left: auto;
    right: 15%;
  }
}
li.swiper-slide {
  background: #fff;
  overflow: hidden;
  width: 416px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.card-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content {
  padding: 0px;
}

.card-date {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.card-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}

.card-tags-text {
  color: #0027D5;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

.card-mark {
  color: #fff;
  background: #0027D5;
  padding: 6px 12px;
  border: 1px solid #0027D5;
  border-radius: 40px;
}

.card-title {
  font-weight: bold;
  font-size: 28px;
}

.card-desc {
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制顯示 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  margin-bottom: 16px;
}

.read-more-btn {
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  color: #ffffff;
  background-color: #000000;
}/*# sourceMappingURL=all.css.map */