@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  color: #000000;
  font-family: "Noto Sans TC", "Helvetica,Arial,sans-serif";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

hr {
  line-height: 1px;
  background-color: gray;
}

.h2 {
  font-size: 64px;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
}

.title-lg {
  color: #0027D5;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

.title-lg-black {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

.title-xl {
  color: #000000;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
}

.title-xxl {
  color: #0027D5;
  font-size: 120px;
  font-weight: bold;
  line-height: 1.5;
}

/* 導航列 */
.navbar {
  display: flex;
  justify-content: center;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar .nav-item {
  color: #333;
  text-decoration: none;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 700;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.navbar .nav-item:hover {
  color: #0027D5;
}

/* 頁尾 */
.footer {
  background-color: #ffffff;
  padding: 24px 0;
  text-align: center;
}
.footer p {
  font-family: "Noto Sans TC", "Helvetica,Arial,sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0%;
  color: #666;
  margin: 0;
}

/* 主內容區 */
/* utils */
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}

.h2 {
  font-size: 64px;
  font-weight: 700;
}

.h3 {
  font-size: 28px;
  font-weight: 700;
}

.h4 {
  font-size: 24px;
}

.h5 {
  font-size: 20px;
}

.h6 {
  font-size: 18px;
}

.text-primary {
  color: #0027D5;
}

.text-gray {
  color: #4b4b4b;
}

.fw-Medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

.break-line {
  display: none;
}

.ellipsis-mutiple {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-icon {
  display: flex;
}
.b-icon .icon-item {
  width: 44px;
  height: 44px;
}

.bt-line {
  display: block;
  border-bottom: 1px solid gray;
}

.circle-img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
}

/*===== Page - index =====*/
.about-profile {
  display: flex;
}

.about-photo,
.about-intro {
  width: 50%;
}

.about-photo {
  padding: 300px 80px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 300px 80px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about-intro .about-title {
  font-size: 120px;
}
.about-intro .about-subtitle {
  font-size: 28px;
  color: #0027D5;
}

.about-desc {
  width: 56%;
  padding: 80px 40px;
  margin-right: 80px;
  margin-left: auto;
  font-size: 28px;
  background-color: white;
  position: relative;
  margin-bottom: -160px;
  right: 0;
  bottom: 160px;
}

.about-desc p + p {
  margin: 16px 0;
}

.desc-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 1710px) {
  .about-intro .about-title {
    font-size: calc((50vw - 160px) / 6);
  }
}
@media (max-width: 992px) {
  .about-profile {
    flex-direction: column;
  }
  .about-photo, .about-intro {
    width: 100%;
  }
  .about-photo img {
    height: 375px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .about-intro {
    padding: 24px 24px 200px;
  }
  .about-intro .about-title {
    font-size: 52px;
  }
  .about-desc {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .about-profile {
    flex-direction: column;
  }
  .about-photo,
  .about-intro {
    width: 100%;
    padding: 24px 24px 150px 24px;
    background-size: cover;
    background-position: center;
  }
  .about-photo {
    width: 375px;
    height: 375px;
  }
  .about-intro {
    gap: 8px;
  }
  .about-title {
    font-size: 48px;
  }
  .about-subtitle {
    font-size: 20px;
  }
  .about-desc {
    width: auto;
    position: relative;
    z-index: 10;
    margin-top: -100px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0;
    bottom: auto;
    font-size: 18px;
    padding: 40px 24px;
    background-color: white;
  }
  .about-desc p {
    margin: 12px 0;
  }
  .b-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 16px;
  }
  .icon-item img {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 768px) {
  .float-wrapper {
    padding: 0 12px;
    margin-top: 0;
  }
  .float-list {
    width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
  }
}
.main-section {
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  max-width: 1432px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.srv-section {
  width: 100%;
}

.srv-wrapper {
  max-width: 1296px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

.pj-block, .pj-block-reverse {
  display: flex;
  padding: 0 110px;
}

.pj-block-reverse {
  flex-direction: row-reverse;
}

.img-block {
  width: 59%;
}

.content-block {
  width: 44%;
  height: 210px;
  background-color: #fff;
  margin-left: -40px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0;
}

.short-line {
  width: 40px;
  height: 40px;
  padding: 18.75px 5px;
}

.line-item {
  width: 30px;
  height: 2.5px;
  background: #0027D5;
}

.ct-desc {
  font-size: 16px;
  font-weight: 500;
}

.pj-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.pj-footer .pj-footer-cycle {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 40px;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 375px) {
  .main-section {
    flex-direction: column-reverse;
  }
  .main-wrapper {
    width: 100%;
    padding: 64px 0;
  }
  .srv-wrapper {
    width: 100%;
    padding: 64px 0;
    gap: 0;
  }
  .h2 {
    font-size: 48px;
    text-align: start;
  }
  .pj-block {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .pj-block-reverse {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .img-block {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 12px;
  }
  .content-block {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 24px;
    align-self: flex-start;
  }
  .pj-footer {
    align-self: flex-end;
    flex-direction: column;
    gap: 0;
  }
  .pj-footer-cycle {
    align-self: flex-end;
  }
}
.case-section .container {
  padding: 80px 0;
}

.case-wrapper {
  display: flex;
  padding-top: 24px;
}

.case-img {
  width: 57.48%;
  padding: 24px;
  background-color: #EDEDED;
}

.case-desc {
  width: 42.4%;
}

.top-content {
  width: calc(100% - 24px);
  margin-left: -195px;
  margin-right: 195px;
  background: white;
  margin-top: 28px;
}
.top-content p {
  padding-top: 24px;
}

.bottom-content {
  background: #f5f5f5;
  margin-top: -40px;
  margin-left: 24px;
  flex-grow: 1;
}
.bottom-content p {
  padding: 24px 0;
}

.top-content, .bottom-content {
  padding: 80px 40px;
}

.case_contact {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #0027D5;
  border-radius: 40px;
  background-color: #fff;
}

.podcast-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 24px;
  gap: 24px;
}

@media (max-width: 992px) {
  .case-wrapper {
    flex-direction: column;
  }
  .case-img {
    width: 100%;
    padding-bottom: 0;
  }
  .case-desc {
    width: 100%;
  }
  .top-content {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
  }
  .bottom-content {
    margin-top: 0;
    margin-left: 0;
  }
  .top-content,
  .bottom-content {
    padding: 40px 24px;
  }
  .break-line {
    display: inline-block;
  }
}
@media (max-width: 375px) {
  .case-section .container {
    padding: 64px 12px;
  }
}
.podcast-wrapper {
  background-color: #F5F5F5;
  margin-top: 40px;
  padding: 24px;
}
.podcast-wrapper .podcast-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.podcast-wrapper .podcast-list .podcast-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.podcast-wrapper .podcast-list .podcast-item .podcast-desc {
  padding-bottom: 8px;
  border-bottom: 1px solid gray;
}
.podcast-wrapper .podcast-list .podcast-item .podcast-text {
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  gap: 8px;
}
.podcast-wrapper .podcast-list .podcast-item i {
  color: #0027D5;
  font-size: 16px;
}
.podcast-wrapper .podcast-list .podcast-item .podcast-link {
  display: inline-block;
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 40px;
  background-color: transparent;
  cursor: pointer;
  width: auto;
  max-width: -moz-fit-content;
  max-width: fit-content;
  transition: background-color 0.3s;
}
.podcast-wrapper .podcast-list .podcast-item .podcast-link:hover {
  color: #ffffff;
  background-color: #000000;
}

@media (max-width: 576px) {
  .podcast-list {
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .podcast-list {
    flex-direction: column;
  }
}
.contact-wrapper {
  padding: 80px 0;
}
.contact-wrapper .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.contact-wrapper .container .contact-list {
  display: flex;
  flex-direction: column;
}
.contact-wrapper .container .contact-list .contact-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #000;
}
.contact-wrapper .container .contact-list .contact-item span {
  padding: 0;
}
.contact-wrapper .container .contact-list .contact-item .contact-mail {
  font-size: 32px;
  text-decoration: underline;
}
.contact-wrapper .container .contact-list .contact-item .contact-fill {
  font-size: 28px;
  flex: 1;
}
.contact-wrapper .container .contact-list .contact-item .contact-forward {
  font-size: 24px;
  font-weight: 500;
}
.contact-wrapper .container .contact-list .contact-item .contact-icon {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 375px) {
  .contact-wrapper {
    padding: 64px 12px;
    border-bottom: 1px solid gray;
  }
  .contact-wrapper .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .contact-wrapper .container .contact-list {
    gap: 24px;
  }
  .contact-wrapper .container .contact-list .contact-item {
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
  }
  .contact-wrapper .container .contact-list .contact-item .contact-mail {
    font-size: 24px;
  }
  .contact-wrapper .container .contact-list .contact-item .contact-fill {
    font-size: 24px;
    flex: 1;
  }
  .contact-wrapper .container .contact-list .contact-item .contact-forward {
    width: 100%;
    order: 2;
  }
  .h3 {
    font-size: 24px;
  }
}
.mail-block {
  width: 100%;
  height: auto;
  padding: 24px 0;
}

.mail-photo {
  width: 100%;
  height: 375px;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/photo9.png?raw=true");
}

.about-intro2 {
  width: 100%;
  height: auto;
  padding: 12px;
}

/*===== Page - Blog =====*/
.last-news {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.last-news .news-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.last-news .news-link {
  display: inline-block;
  align-self: flex-start;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}

.time {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.mark {
  color: white;
  background: #0027D5;
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 40px;
}

.title {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  line-height: 1.5;
}

.title-2 {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.title-3 {
  color: #000000;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5;
}

.text {
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制顯示 3 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 8px;
  margin-bottom: 16px;
}

.card-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-link {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}

.underline {
  text-decoration: none;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.search-input {
  border: 0;
}

.btn {
  display: inline-block;
  align-self: flex-start;
  width: auto;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 16px;
  border: 1px solid #000000;
  border-radius: 40px;
}

.ml-4 {
  margin-left: 4px;
}

@media (max-width: 576px) {
  .last-news {
    flex-direction: column;
  }
  .last-news .news-box {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .last-news {
    flex-direction: column;
  }
  .last-news .news-box {
    width: 100%;
  }
  .last-news .news-box img {
    height: 375px;
  }
  .space {
    padding: 48px 12px;
  }
}
.newswraper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.newswraper .search {
  width: 416px;
  height: 56px;
  border: 1px solid #000000;
  padding: 16px 48px 16px 16px;
  border-radius: 40px;
  margin-top: 80px;
}
.newswraper .card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.newswraper .card-list li {
  width: 400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

@media (max-width: 768px) {
  .newswraper {
    width: 100%;
    gap: 10px;
  }
  .newswraper .search {
    width: 100%;
  }
  .newswraper .card-list {
    gap: 32px;
    padding: 40px 12px;
  }
  .newswraper .card-list li {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .newswraper {
    width: 100%;
    gap: 10px;
  }
  .newswraper .search {
    width: 100%;
  }
  .newswraper .card-list {
    gap: 32px;
    padding: 40px 12px;
  }
  .newswraper .card-list li {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .news-list-section {
    padding: 64px 12px;
  }
  .newswraper {
    width: 100%;
    gap: 10px;
  }
  .newswraper .search {
    width: 100%;
  }
  .newswraper .card-list {
    gap: 32px;
    padding: 0;
  }
  .newswraper .card-list li {
    width: 100%;
  }
}
.barBlock {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 24px;
  padding: 40px 312px;
  background: #FBFBFB;
}
.barBlock .bar {
  display: flex;
  width: 328px;
  height: 56px;
  padding: 8px 20px;
}
.barBlock .bar .bar-item {
  width: 40px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 8px 0px;
}
.barBlock .bar .bar-item .preview, .barBlock .bar .bar-item .next {
  width: 24px;
  height: 24px;
}

.bottom-wrap {
  width: 100%;
  padding: 80px 312px;
  background: #FBFBFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.b-mail {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
}

.b-icon {
  display: flex;
}
.b-icon .icon-item {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 992px) {
  .barBlock {
    padding: 0 100px;
  }
  .bottom-wrap {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .barBlock {
    padding: 0 100px;
  }
}
@media (max-width: 768px) {
  .barBlock {
    padding: 0 100px;
  }
  .bottom-wrap {
    display: none;
  }
}
@media (max-width: 576px) {
  .barBlock {
    padding: 0 60px;
  }
  .bottom-wrap {
    display: none;
  }
}
@media (max-width: 375px) {
  .service-section {
    padding-bottom: 64px;
  }
  .barBlock {
    padding: 0 20px;
  }
  .bottom-wrap {
    display: none;
  }
}
.detail-wrap {
  max-width: 636px;
  margin: 0 auto;
  padding: 80px 0;
}
.detail-wrap .article-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
}
.detail-wrap .article-list .article-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}
.detail-wrap .article-list .article-item .title {
  color: #0027D5;
}
.detail-wrap .article-list .article-item .pt-0 {
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
}
.detail-wrap .article-list .article-item .pt-8 {
  padding-top: 8px;
}
.detail-wrap .article-list .article-item .pt-12 {
  padding-top: 12px;
}
.detail-wrap .article-list .article-item .pt-24 {
  padding-top: 24px;
}
.detail-wrap .article-list .article-item .h-light {
  color: #0027D5;
}
.detail-wrap .article-list .article-item .dot-1 {
  display: block;
  padding-left: 1.2em;
  list-style-type: decimal;
  margin: 0;
}
.detail-wrap .article-list .article-item .dot-2 {
  display: block;
  padding-left: 1.2em;
  list-style-type: disc;
  margin: 0;
}
.detail-wrap .article-list .article-item .summary {
  font-weight: bold;
  background: #EDEDED;
  padding: 24px;
  border-radius: 24px;
}

.desktop-img {
  display: block;
}

.mobile-img {
  display: none;
}

.d-img {
  height: 320px;
}

@media (max-width: 375px) {
  .detail-wrap {
    padding: 48px 12px;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .news-section .bt-line, .detail-section .bt-line,
  .about-section .bt-line, .service-section .bt-line, .bottom-wrap .bt-line {
    display: inline-block;
    border-bottom: 1px solid gray;
  }
  .d-none {
    border-bottom: none;
  }
}
.page-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.swiper {
  width: 90%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.swiper-header {
  max-width: 1296px;
  margin: 0 auto;
}

.swiper-wrapper-area {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
  font-size: 16px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #0027D5;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #0027D5;
}

.swiper-button-next i,
.swiper-button-prev i {
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .swiper-wrapper-area {
    display: block;
    height: 520px;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 100%;
  }
  .swiper-button-prev {
    left: auto;
    right: 15%;
  }
  li.swiper-slide {
    width: calc(100vw - 32px);
    flex-shrink: 0;
  }
}
li.swiper-slide {
  background: #fff;
  overflow: hidden;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.card-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-content {
  padding: 0px;
}

.card-date {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
}

.card-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}

.card-tags-text {
  color: #0027D5;
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

.card-mark {
  color: #fff;
  background: #0027D5;
  padding: 6px 12px;
  border: 1px solid #0027D5;
  border-radius: 40px;
}

.card-title {
  font-weight: bold;
  font-size: 28px;
}

.card-desc {
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  display: -webkit-box;
  margin-top: 8px;
  margin-bottom: 16px;
}

.read-more-btn {
  padding: 8px 16px;
  border: 1px solid #333;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.read-more-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

@media screen and (max-width: 375px) {
  .swiper-wrapper-area {
    height: auto;
  }
  .card-img {
    width: 100%;
    height: 200px;
    -o-object-fit: fill;
       object-fit: fill;
  }
  li.swiper-slide {
    width: calc(100vw - 24px);
  }
}/*# sourceMappingURL=all.css.map */